{% extends "base.html" %}

{% block content %}
    
    <form class="form-inline" action="{% url 'survey.views.submit' %}" method="POST">      

    <!--  Questionaire -->        
	<div class="row">
		{% for question in question_list %}
    	
    	<div class="col-lg-8">
			{{ question.body }} 
			<br/>
			{{ question.answer1 }}
			<br/>
			{{ question.answer2 }}
			<br/>
			{{ question.answer3 }}
			<br/>
			{{ question.answer4 }}
			<br/>
			<br/>						  
    	</div>
    	
    	 {% endfor %}
    </div>    

		<div class="control-group">     
	  		<div class="controls text-center"">
	        	<button type="submit" value="Submit" class="btn">Submit</button>
	     	</div>
	    </div>
	</form>

{% endblock %}
