{% extends "base.html" %}

{% block content %}
    
    <form class="form-inline" action="{% url 'survey.views.submit' %}" method="POST">
    {% csrf_token %}
		
	


	<div class="container">      
		<div class="row">	
			<div class="col-md-2">
				<div class="control-group">
			       	<label class="control-label" for="name">Name</label>
			       	<div class="controls">
			         		<div class="contorls">{{ form.name }}</div>
			       	</div>
			    </div>
			</div> 
			
			<div class="col-md-3">
				<div class="control-group">
			       	<label class="control-label" for="name">Email</label>
			       	<div class="controls">
			         		<div class="contorls">{{ form.email }}</div>
			       	</div>
			    </div>
			</div> 
			
			<div class="col-md-2">
				<div class="control-group">
			       	<label class="control-label" for="name">Experience (year)</label>
			       	<div class="controls">
			         		<div class="contorls">{{ form.exp }}</div>
			       	</div>
			    </div>
			</div> 
			
		</div>
	</div>
	
	<br><br>
		
	
    <!--  Questionaire -->
    {% for question in question_list %}
	<div class="container">            
		<div class="row hidden-xs">
			<div class="col-md-2">			
			</div>
			<div class="col-md-2">
				<strong>2<sup>n</sup> (Level 0)</strong>
			</div>
			<div class="col-md-2">
				<strong>n<sup>2</sup> (Level 1)</strong>
			</div>			
			<div class="col-md-2">
				<strong>n (Level 2)</strong>
			</div>			
			<div class="col-md-2">
				<strong>log(n) (Level 3)</strong>
			</div>									  
	    </div>	   
	    

		<div class="row">	
			<div class="col-md-2">
				{{ question.body }}
			</div> 
			
			<div class="col-md-2">
				<input type="radio" name="{{ question.seq }}" id="{{ question.seq }}" value="1" />                
				{{ question.answer1 }}
			</div>
			<div class="col-md-2">
				<input type="radio" name="{{ question.seq }}" id="{{ question.seq }}" value="1" />
				{{ question.answer2 }}
			</div>			
			<div class="col-md-2">
				<input type="radio" name="{{ question.seq }}" id="{{ question.seq }}" value="3" />			
				{{ question.answer3 }}
			</div>			
			<div class="col-md-2">
				<input type="radio" name="{{ question.seq }}" id="{{ question.seq }}" value="4" />			
				{{ question.answer4 }}
			</div>									  
	    </div>	   
	    
	    <div class="row">
	    	<br/>
	    </div>
	    	
	</div>
    {% endfor %}
        

		<div class="control-group">     
	  		<div class="controls text-center"">
	        	<button type="submit" value="Submit" class="btn">Submit</button>
	     	</div>
	    </div>
	</form>

{% endblock %}
